<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="description" content="管理后台">
    <meta name="keywords" content="yuanmeng,ym,系统,后台系统,,大正集团">
    <meta name="renderer" content="webkit">

    <title></title>
</head>

<body class="_scrollbar">
    <div id="app" style="height: 100%;" data-uri="add_or_update_maintainer" data-asset="/manage/machineterlist.htm"
        data-goback="../machineterlist.htm" v-loading.fullscreen.lock="loading">
        <el-container style="margin-bottom:120px;">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="账号" prop="accounts">
                    <el-input v-model="ruleForm.accounts" :disabled="disAdminName" class="w400"></el-input>
                </el-form-item>
                <el-form-item label="手机号码" prop="phone">
                    <el-input v-model="ruleForm.phone" class="w400"></el-input>
                </el-form-item>

                <el-form-item label="密码" prop="pwd">
                    <el-input v-model="ruleForm.pwd" class="w400" show-password></el-input>
                </el-form-item>

                <el-form-item label="真实姓名" prop="realName">
                    <el-input v-model="ruleForm.realName" class="w400"></el-input>
                </el-form-item>

                <el-form-item label="微信ID" prop="weChatId">
                    <el-input v-model="ruleForm.weChatId" class="w400"></el-input>
                </el-form-item>

                <el-form-item label="别名" prop="alias">
                    <el-input v-model="ruleForm.alias" class="w400"></el-input>
                </el-form-item>

                <el-form-item label="用户头像">
                    <template v-model="ruleForm.headImgPic">
                        <!-- <small>头像</small> -->
                        <el-upload prop="headImgPic" action="http://test.cbcoffee.cn:8089/file_upload"
                            list-type="picture-card" :file-list="imageList.picHeaders" :limit="num" :data="fileData"
                            :headers="sect" :on-change="fileChange" :on-success="filePicSuccess" :on-exceed="fileExceed"
                            :on-preview="handlePictureCardPreview" :on-remove="handleRemove">
                            <i class="el-icon-plus"></i>
                        </el-upload>
                        <el-dialog :visible.sync="dialogVisible">
                            <img width="100%" :src="dialogImageUrl" alt="">
                        </el-dialog>
                    </template>
                </el-form-item>

                <el-form-item label="性别" prop="gender">
                    <el-radio-group v-model="ruleForm.gender">
                        <el-radio :label="1" border>男</el-radio>
                        <el-radio :label="2" border>女</el-radio>
                    </el-radio-group>
                </el-form-item>

                <el-form-item label="年龄" prop="age">
                    <el-input v-model="ruleForm.age" class="w400"></el-input>
                </el-form-item>

                <el-form-item label="身份证" prop="identity">
                    <el-input v-model="ruleForm.identity" class="w400"></el-input>
                </el-form-item>

                <el-form-item label="身份证图片">
                    <div style="float: left;margin-right: 30px;">
                        <template v-model="ruleForm.identityFront">
                            <small style="color: #ccc">正面</small>
                            <el-upload prop="identityFront" action="http://test.cbcoffee.cn:8089/file_upload"
                                list-type="picture-card" :file-list="imageList.IDFor" :limit="num"
                                :headers="sect" :on-change="fileChange" :on-success="fileIDForSuccess" :on-exceed="fileExceed"
                                :on-preview="handlePictureCardPreview" :on-remove="handleRemove">
                                <i class="el-icon-plus"></i>
                            </el-upload>
                            <el-dialog :visible.sync="dialogVisible">
                                <img width="100%" :src="dialogImageUrl" alt="">
                            </el-dialog>
                        </template>
                    </div>
                    <div style="float: left">
                        <template v-model="ruleForm.identityBehind">
                            <small style="color: #ccc">反面</small>
                            <el-upload prop="identityBehind" action="http://test.cbcoffee.cn:8089/file_upload"
                                list-type="picture-card" :file-list="imageList.IDBeh" :limit="num"
                                :headers="sect" :on-change="fileChange" :on-success="fileIDBehSuccess" :on-exceed="fileExceed"
                                :on-preview="handlePictureCardPreview" :on-remove="handleRemove">
                                <i class="el-icon-plus"></i>
                            </el-upload>
                            <el-dialog :visible.sync="dialogVisible">
                                <img width="100%" :src="dialogImageUrl" alt="">
                            </el-dialog>
                        </template>
                    </div>
                </el-form-item>

                <el-form-item label="星级" prop="level">
                    <el-rate v-model="ruleForm.level" style="margin: 10px;"></el-rate>
                </el-form-item>

                <el-form-item label="国家" prop="country">
                    <el-input v-model="ruleForm.country" class="w400" :disabled="true"></el-input>
                </el-form-item>
                
                <el-form-item label="地区" prop="province">
                    <el-cascader size="large" :options="address" v-model="ruleForm.province" @change="handleChange"></el-cascader>
                </el-form-item>

                <el-form-item label="分润点" prop="royaltyRate">
                        <el-input v-model="ruleForm.royaltyRate" class="w400"></el-input>
                    </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="submitForm(ruleForm)">立即创建</el-button>
                </el-form-item>
            </el-form>
        </el-container>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</body>

</html>