<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="//at.alicdn.com/t/font_1049864_8hiytz865e6.js"></script>

    <title></title>
</head>

<body>
    <div id="container" style="height:100%;" data-uri="admin_list">
        <el-container>
            <el-main>
                <el-table :data="tableData">
                    <el-table-column prop="date" label="ID"></el-table-column>
                    <el-table-column prop="date" label="name" ></el-table-column>
                    <el-table-column prop="date" label="url"></el-table-column>
                    <el-table-column prop="date" label="address" ></el-table-column>
                    <el-table-column prop="date" label="session" ></el-table-column>
                    <el-table-column prop="date" label="index" ></el-table-column>
                    <el-table-column prop="date" label="page" ></el-table-column>
                    
                    <el-table-column prop="date" label="city" ></el-table-column>
                    <el-table-column prop="date" label="home" ></el-table-column>
                    <el-table-column prop="date" label="edit"></el-table-column>
                </el-table>
            </el-main>
        </el-container>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</body>

</html>